
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #38001c;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #f6f6f2;
  background-image: -moz-linear-gradient(top, #38001c 0%, #f6f6f2 100%);
  background-image: -ms-linear-gradient(top, #38001c 0%, #f6f6f2 100%);
  background-image: -o-linear-gradient(top, #38001c 0%, #f6f6f2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #38001c), color-stop(1, #f6f6f2));
  background-image: -webkit-linear-gradient(top, #38001c 0%, #f6f6f2 100%);
  background-image: linear-gradient(top, #38001c 0%, #f6f6f2 100%);
}
a {
  color: #007a74;
}
a:hover,
a:focus {
  color: #09aba3;
}
a:active {
  color: #1ce0d6;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #ffa340;
}
#page-wrapper,
#footer-wrapper {
  background: #571133;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #ffa340;
}

/* Slogan has a different colour because our customizations fade the header out to grey */
#name-and-slogan #site-slogan {
  color: #38001c;
}
